body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

body {

    margin: 60px;
    color: #434343;
    line-height: 1.8;
}

/* Basic table styling */
table {
    table-layout: fixed;
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
    /* Collapse borders into a single line */
    margin-bottom: 20px;
}

/* Table header styling */
th {
    background-color: #F2F2F2;
    /* Light gray background for headers */
    color: #434343;
    /* Dark text color for headers */
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    /* Border for headers */
}

/* Table cell styling */
td {
    padding: 10px;
    border: 1px solid #ddd;
    /* Border for cells */
}

/* Alternate row colors for better readability */
tr:nth-child(even) {
    background-color: #F2F2F2;
    /* Light gray for even rows */
}

tr:nth-child(odd) {
    background-color: #FAFAFA;
    /* White for odd rows */
}

/* Hover effect on table rows */
tr:hover {
    background-color: #e9e9e9;
    /* Slightly darker gray on hover */
}

/* Caption styling */
caption {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Table container styling */
.table-container {
    margin-left: 10px;
    overflow-x: auto;
    /* Enable horizontal scrolling for small screens */
}